SV_list_subsets_of_regions_within_distance_of_gene/*
intermediate_files/*
lists_of_genes_annotated_to_SVs_recurring_across_at_least_2_patients_for_cohorts/*
model_results/*
run/__pycache__/*
surrounding_annotations_for_each_gene/*
input_SV_lists/*
